.public-card-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.public-card-delete{
    width: 28.28px;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.public-card-delete > i{
    margin: 0!important;
}

.comment-delete{
    position: absolute;
    right: 2px;
    top: 5px;
    width: 30px;
    height: 30px;
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.comment-delete > i{
    margin: 0!important;
}